html{
  background: linear-gradient(90deg, rgba(134,189,188,1) 0%, rgba(115,115,161,1) 50%, rgba(134,189,188,1) 100%);
}

body > table{
  width: 80%;
  max-width: 700px;
  margin: 30px auto;
  font-family: 'Open Sans', sans-serif;
}

table{
  border-collapse: collapse;
}
table.list{
  width:100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

input[type=text], input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]{
  width: 30%;
  background-color: #ddd;
  color: #000;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form div.form-action-buttons{
  text-align: right;
}

a{
  cursor: pointer;
  text-decoration: underline;
  color: #0000ee;
  margin-right: 4px;
}

label {
  color: black;
}

label.validation-error{
  color: white;
  margin-left: 5px;
  text-decoration: underline;
  text-decoration-color: red;
}

.hide{
  display:none;
}